#
# /etc/systemd/system/pylicator.service
#

[Unit]
Description=Pylicator: Redirects incoming SNMP traps
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/nmc/pylicator/
ExecStart=/home/nmc/pylicator/pylicator.py
Restart=no

[Install]
WantedBy=multi-user.target
