#
# /etc/systemd/system/pylicator.service
#

[Unit]
Description=Pylicator: Redirects incoming SNMP traps
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/pylicator/
ExecStart=/etc/pylicatorVenv/bin/python /etc/pylicator/pylicator.py --conf-path /var/configs/pylicator.conf
Restart=no

[Install]
WantedBy=multi-user.target
